@page "/customers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>Create</h3>


<FormComponent ButtonText="Create Customer" customer="customer" OnValidSubmit="@CreateCustomer" />





@code {
    Customer customer = new Customer();

    private IList<Customer>? Customers;


    protected async override Task OnInitializedAsync() //when the page loads
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }
    private async Task CreateCustomer()
    {
        await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, customer);
        _navManager.NavigateTo("/customers/");
    }
}
